extends layout 

block content 
    h1= title

    h2 If you wish to become a member, please enter the secret passcode

    form(method='POST' action='' class='forms')
        label(for='username')  
        input(type='hidden'
            name='username'
            value=user.username)

        label(for='secret') Secret:
        input(type='password'
            name='secret')
        
        button(type='submit' class='options') Submit
        a(href='/messages' class='options') Cancel