body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: cadetblue;
  color: rgba(108, 3, 3, 0.719);
}

a {
  color: #ffb75f;
  display: inline-block;
  margin-top: 1rem;
}

.forms {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: medium;
}

.forms label {
  margin-top: 1rem;
}

.options {
  background-color: rgb(3, 3, 133);
  color: white;
  border-radius: 5px;
  padding: 0.5rem 3rem;
  margin-top: 1rem;
  text-align: center;
  text-decoration: none;
  font-size: medium;
  border: 1px solid black;
}